# **Removing Duplicates**

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Step 1: Import Required Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Step 2: Load the Dataset into a DataFrame

#### **Read Data**

If you are using JupyterLite, use the code below to download the dataset into your environment. If you are using a local environment, you can use the direct URL with <code>pd.read_csv()</code>.

**Load the data into a pandas dataframe:**

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [ ]:
# your code goes here
count=df.duplicated().sum()
print('duplicated are:',count)

display=df[df.duplicated()].head()
print(display)

duplicated are: 0
Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [ ]:
# your code goes here
#1
remove_duplicates=df.drop_duplicates(inplace=True)
count=df.duplicated().sum()
print('Duplicated rows --->',count)

Duplicated rows ---> 0

In [ ]:
#2
df_cleaned = df.drop_duplicates()

num_duplicates_after = df_cleaned.duplicated().sum()

print(f"Duplicate rows remaining after removal: {num_duplicates_after}")
print(f"New dataset shape: {df_cleaned.shape}")

Duplicate rows remaining after removal: 0
New dataset shape: (65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [ ]:
# your code goes here
#1
missing_values=df.isnull()
missing_values.head(5)

for column in missing_values.columns.values.tolist():
    print(missing_values[column].value_counts())
    print('')

ResponseId
False    65437
Name: count, dtype: int64

MainBranch
False    65437
Name: count, dtype: int64

Age
False    65437
Name: count, dtype: int64

Employment
False    65437
Name: count, dtype: int64

RemoteWork
False    54806
True     10631
Name: count, dtype: int64

Check
False    65437
Name: count, dtype: int64

CodingActivities
False    54466
True     10971
Name: count, dtype: int64

EdLevel
False    60784
True      4653
Name: count, dtype: int64

LearnCode
False    60488
True      4949
Name: count, dtype: int64

LearnCodeOnline
False    49237
True     16200
Name: count, dtype: int64

TechDoc
False    40897
True     24540
Name: count, dtype: int64

YearsCode
False    59869
True      5568
Name: count, dtype: int64

YearsCodePro
False    51610
True     13827
Name: count, dtype: int64

DevType
False    59445
True      5992
Name: count, dtype: int64

OrgSize
False    47480
True     17957
Name: count, dtype: int64

PurchaseInfluence
False    47406
True     18031
Name: count, dtype: int64

BuyNewTool
False    45181
True     20256
Name: count, dtype: int64

BuildvsBuy
False    43358
True     22079
Name: count, dtype: int64

TechEndorse
False    43668
True     21769
Name: count, dtype: int64

Country
False    58930
True      6507
Name: count, dtype: int64

Currency
False    46684
True     18753
Name: count, dtype: int64

CompTotal
False    33740
True     31697
Name: count, dtype: int64

LanguageHaveWorkedWith
False    59745
True      5692
Name: count, dtype: int64

LanguageWantToWorkWith
False    55752
True      9685
Name: count, dtype: int64

LanguageAdmired
False    50872
True     14565
Name: count, dtype: int64

DatabaseHaveWorkedWith
False    50254
True     15183
Name: count, dtype: int64

DatabaseWantToWorkWith
False    42558
True     22879
Name: count, dtype: int64

DatabaseAdmired
False    38557
True     26880
Name: count, dtype: int64

PlatformHaveWorkedWith
False    42366
True     23071
Name: count, dtype: int64

PlatformWantToWorkWith
False    34532
True     30905
Name: count, dtype: int64

PlatformAdmired
True     34060
False    31377
Name: count, dtype: int64

WebframeHaveWorkedWith
False    45161
True     20276
Name: count, dtype: int64

WebframeWantToWorkWith
False    38535
True     26902
Name: count, dtype: int64

WebframeAdmired
False    34943
True     30494
Name: count, dtype: int64

EmbeddedHaveWorkedWith
True     43223
False    22214
Name: count, dtype: int64

EmbeddedWantToWorkWith
True     47837
False    17600
Name: count, dtype: int64

EmbeddedAdmired
True     48704
False    16733
Name: count, dtype: int64

MiscTechHaveWorkedWith
False    39443
True     25994
Name: count, dtype: int64

MiscTechWantToWorkWith
False    32964
True     32473
Name: count, dtype: int64

MiscTechAdmired
True     35841
False    29596
Name: count, dtype: int64

ToolsTechHaveWorkedWith
False    52482
True     12955
Name: count, dtype: int64

ToolsTechWantToWorkWith
False    46084
True     19353
Name: count, dtype: int64

ToolsTechAdmired
False    43997
True     21440
Name: count, dtype: int64

NEWCollabToolsHaveWorkedWith
False    57592
True      7845
Name: count, dtype: int64

NEWCollabToolsWantToWorkWith
False    52087
True     13350
Name: count, dtype: int64

NEWCollabToolsAdmired
False    50711
True     14726
Name: count, dtype: int64

OpSysPersonal use
False    58174
True      7263
Name: count, dtype: int64

OpSysProfessional use
False    52973
True     12464
Name: count, dtype: int64

OfficeStackAsyncHaveWorkedWith
False    48093
True     17344
Name: count, dtype: int64

OfficeStackAsyncWantToWorkWith
False    38966
True     26471
Name: count, dtype: int64

OfficeStackAsyncAdmired
False    37204
True     28233
Name: count, dtype: int64

OfficeStackSyncHaveWorkedWith
False    55545
True      9892
Name: count, dtype: int64

OfficeStackSyncWantToWorkWith
False    46711
True     18726
Name: count, dtype: int64

OfficeStackSyncAdmired
False    44712
True     20725
Name: count, dtype: int64

AISearchDevHaveWorkedWith
False    44453
True     20984
Name: count, dtype: int64

AISearchDevWantToWorkWith
False    36701
True     28736
Name: count, dtype: int64

AISearchDevAdmired
False    35543
True     29894
Name: count, dtype: int64

NEWSOSites
False    60286
True      5151
Name: count, dtype: int64

SOVisitFreq
False    59536
True      5901
Name: count, dtype: int64

SOAccount
False    59560
True      5877
Name: count, dtype: int64

SOPartFreq
False    45237
True     20200
Name: count, dtype: int64

SOHow
False    58962
True      6475
Name: count, dtype: int64

SOComm
False    59163
True      6274
Name: count, dtype: int64

AISelect
False    60907
True      4530
Name: count, dtype: int64

AISent
False    45873
True     19564
Name: count, dtype: int64

AIBen
False    36894
True     28543
Name: count, dtype: int64

AIAcc
False    37302
True     28135
Name: count, dtype: int64

AIComplex
False    37021
True     28416
Name: count, dtype: int64

AIToolCurrently Using
False    35072
True     30365
Name: count, dtype: int64

AIToolInterested in Using
True     34746
False    30691
Name: count, dtype: int64

AIToolNot interested in Using
True     41023
False    24414
Name: count, dtype: int64

AINextMuch more integrated
True     51999
False    13438
Name: count, dtype: int64

AINextNo change
True     52939
False    12498
Name: count, dtype: int64

AINextMore integrated
True     41009
False    24428
Name: count, dtype: int64

AINextLess integrated
True     63082
False     2355
Name: count, dtype: int64

AINextMuch less integrated
True     64289
False     1148
Name: count, dtype: int64

AIThreat
False    44689
True     20748
Name: count, dtype: int64

AIEthics
False    41548
True     23889
Name: count, dtype: int64

AIChallenges
False    37531
True     27906
Name: count, dtype: int64

TBranch
False    44477
True     20960
Name: count, dtype: int64

ICorPM
True     35636
False    29801
Name: count, dtype: int64

WorkExp
True     35779
False    29658
Name: count, dtype: int64

Knowledge_1
True     36773
False    28664
Name: count, dtype: int64

Knowledge_2
True     37416
False    28021
Name: count, dtype: int64

Knowledge_3
True     37342
False    28095
Name: count, dtype: int64

Knowledge_4
True     37407
False    28030
Name: count, dtype: int64

Knowledge_5
True     37557
False    27880
Name: count, dtype: int64

Knowledge_6
True     37573
False    27864
Name: count, dtype: int64

Knowledge_7
True     37659
False    27778
Name: count, dtype: int64

Knowledge_8
True     37679
False    27758
Name: count, dtype: int64

Knowledge_9
True     37802
False    27635
Name: count, dtype: int64

Frequency_1
True     37068
False    28369
Name: count, dtype: int64

Frequency_2
True     37073
False    28364
Name: count, dtype: int64

Frequency_3
True     37727
False    27710
Name: count, dtype: int64

TimeSearching
True     36526
False    28911
Name: count, dtype: int64

TimeAnswering
True     36593
False    28844
Name: count, dtype: int64

Frustration
True     37186
False    28251
Name: count, dtype: int64

ProfessionalTech
True     37673
False    27764
Name: count, dtype: int64

ProfessionalCloud
True     36946
False    28491
Name: count, dtype: int64

ProfessionalQuestion
True     36630
False    28807
Name: count, dtype: int64

Industry
True     36579
False    28858
Name: count, dtype: int64

JobSatPoints_1
True     36113
False    29324
Name: count, dtype: int64

JobSatPoints_4
True     36044
False    29393
Name: count, dtype: int64

JobSatPoints_5
True     36026
False    29411
Name: count, dtype: int64

JobSatPoints_6
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_7
True     35989
False    29448
Name: count, dtype: int64

JobSatPoints_8
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_9
True     35981
False    29456
Name: count, dtype: int64

JobSatPoints_10
True     35987
False    29450
Name: count, dtype: int64

JobSatPoints_11
True     35992
False    29445
Name: count, dtype: int64

SurveyLength
False    56182
True      9255
Name: count, dtype: int64

SurveyEase
False    56238
True      9199
Name: count, dtype: int64

ConvertedCompYearly
True     42002
False    23435
Name: count, dtype: int64

JobSat
True     36311
False    29126
Name: count, dtype: int64

In [ ]:
print(df['EdLevel'].dtype)
mode_val = df['EdLevel'].mode()[0]
df['EdLevel'] = df['EdLevel'].fillna(mode_val)

object

In [ ]:
import numpy as np

#2
for col in df.columns:
    if df[col].dtype in ['int64', 'float64']:
        mean_val = df[col].mean()
        df[col] = df[col].fillna(mean_val)
    elif df[col].dtype == 'object':
        if not df[col].mode().empty:
            mode_val = df[col].mode()[0]
            df[col] = df[col].fillna(mode_val)

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [ ]:
# your code goes here
numeric_df = df.select_dtypes(include=['number'])
print("Integer and Float Columns:")
for col in numeric_df.columns:
    print(col)

print("\nContent of Integer and Float Columns:")
print(numeric_df)
print(df['CompTotal'].value_counts())
print(df['ConvertedCompYearly'].value_counts())

Integer and Float Columns:
ResponseId
CompTotal
WorkExp
JobSatPoints_1
JobSatPoints_4
JobSatPoints_5
JobSatPoints_6
JobSatPoints_7
JobSatPoints_8
JobSatPoints_9
JobSatPoints_10
JobSatPoints_11
ConvertedCompYearly
JobSat

Content of Integer and Float Columns:
       ResponseId  CompTotal  WorkExp  JobSatPoints_1  JobSatPoints_4  \
0               1        NaN      NaN             NaN             NaN
1               2        NaN     17.0             0.0             0.0
2               3        NaN      NaN             NaN             NaN
3               4        NaN      NaN             NaN             NaN
4               5        NaN      NaN             NaN             NaN
...           ...        ...      ...             ...             ...
65432       65433        NaN      NaN             NaN             NaN
65433       65434        NaN      NaN             NaN             NaN
65434       65435        NaN      NaN             NaN             NaN
65435       65436        NaN      5.0             0.0             0.0
65436       65437        NaN      NaN             NaN             NaN

       JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  JobSatPoints_8  \
0                 NaN             NaN             NaN             NaN
1                 0.0             0.0             0.0             0.0
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
...               ...             ...             ...             ...
65432             NaN             NaN             NaN             NaN
65433             NaN             NaN             NaN             NaN
65434             NaN             NaN             NaN             NaN
65435             0.0             0.0             0.0             0.0
65436             NaN             NaN             NaN             NaN

       JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  ConvertedCompYearly  \
0                 NaN              NaN              NaN                  NaN
1                 0.0              0.0              0.0                  NaN
2                 NaN              NaN              NaN                  NaN
3                 NaN              NaN              NaN                  NaN
4                 NaN              NaN              NaN                  NaN
...               ...              ...              ...                  ...
65432             NaN              NaN              NaN                  NaN
65433             NaN              NaN              NaN                  NaN
65434             NaN              NaN              NaN                  NaN
65435             0.0              0.0              0.0                  NaN
65436             NaN              NaN              NaN                  NaN

       JobSat
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
65432     NaN
65433     NaN
65434     NaN
65435     NaN
65436     NaN

[65437 rows x 14 columns]
CompTotal
100000.0     939
60000.0      839
120000.0     793
80000.0      728
50000.0      705
            ...
2588880.0      1
257292.0       1
94900.0        1
864400.0       1
23600.0        1
Name: count, Length: 3337, dtype: int64
ConvertedCompYearly
64444.0     321
53703.0     308
75184.0     230
85925.0     226
107406.0    208
           ...
105500.0      1
60863.0       1
98599.0       1
170828.0      1
90522.0       1
Name: count, Length: 6113, dtype: int64

In [ ]:

missing_count = df['ConvertedCompYearly'].isnull().sum()
print(f"Missing values in 'ConvertedCompYearly': {missing_count}")

df_cleaned = df.dropna(subset=['ConvertedCompYearly'])
df_cleaned['ConvertedCompYearly'] = pd.to_numeric(df_cleaned['ConvertedCompYearly'], errors='coerce')
print("\nSummary of Normalized Compensation:")
print(df_cleaned['ConvertedCompYearly'].describe())

Missing values in 'ConvertedCompYearly': 0

Summary of Normalized Compensation:
count    2.343500e+04
mean     8.615529e+04
std      1.867570e+05
min      1.000000e+00
25%      3.271200e+04
50%      6.500000e+04
75%      1.079715e+05
max      1.625660e+07
Name: ConvertedCompYearly, dtype: float64

In [ ]:
len(df_cleaned['ConvertedCompYearly'])

23435

In [ ]:
df_cleaned.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
72,73,I am a developer by profession,18-24 years old,"Employed, full-time;Student, full-time;Indepen...","Hybrid (some remote, some in-person)",Apples,Hobby;School or academic work;Professional dev...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,65.0,100.0,100.0,100.0,50.0,90.0,Too long,Easy,7322.0,10.0
374,375,"I am not primarily a developer, but I write co...",25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;School or academic work;Professional dev...,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Colleague;On the job tr...,Written Tutorials;Stack Overflow;Written-based...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,30074.0,NaN
379,380,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Social Media;Wri...,...,0.0,0.0,0.0,0.0,0.0,0.0,Too long,Difficult,91295.0,10.0
385,386,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;On the job training;Oth...,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,53703.0,NaN
389,390,I am a developer by profession,25-34 years old,"Employed, full-time;Student, part-time",Remote,Apples,Hobby;School or academic work,Some college/university study without earning ...,Books / Physical media;Colleague;On the job tr...,Written Tutorials;Stack Overflow;Coding sessio...,...,20.0,30.0,5.0,20.0,10.0,5.0,Too long,Easy,110000.0,10.0